{%  extends "base2.html" %}

{% block content %}
        <nav id="populer" class="tab-pane fade in active">
            <h3>Popüler</h3>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">gündem</a></li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    {% if populer %}
                        {% for p in populer %}
                            <h5><a href="#">{{ p.title }}</a></h5>
                        {% endfor %}
                    {% else %}
                        <p class="lead">Paylaşım yok</p>
                    {% endif %}
                </ul>
        </nav>
{% endblock content %}
